/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/04/2017, 01:08:52 AM
    Author     : emmanuel
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2017, 05:13:22 PM
    Author     : emmanuel
*/
#mapa {
      width: 80%;
      height: 600px;
      -webkit-filter: grayscale(40%);
      filter: grayscale(50%);
      float: left;
  }
  
.container-fluid {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 600px;
    }
     /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 12px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

textarea {
  border: 2px solid #a0b3b0;
  background-color: #f1f1f1;
  height: 2.5cm;
   width: 300px;
   margin-top: 2px;
	color: black;
	font-size: 15px;
        font-family: 'Farsan';
        font-weight: bold;
  resize: inherit;
}

.table2{
    width:100%;
    height: 50px;
    direction:ltr;
    overflow: auto;
    display:inline-block;
    resize:inherit;
}

.table3{
    width:100%;
    height: 150px;
    direction:ltr;
    overflow: auto;
    display:inline-block;
    resize:inherit;
}
.table4{
    width:100%;
    height: 150px;
    direction:ltr;
    overflow: auto;
    display:inline-block;
    resize:inherit;
}